/*------------------------------
	author:	Marek J. Kolcun
	version: 1.1.3
	latest update: 2017-11-30
------------------------------*/

/*------------------------------
	GLOBAL STYLES
------------------------------*/

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Verdana;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5em;
	vertical-align: middle;
	color: #555;
}

main {
	min-height: 85%;
}

footer {
	position: relative; 
	bottom: 0; 
	height: 5%;
	width: 100%; 
	margin: 2em auto 0; 
	padding: 1em 0;
	text-align: center;
}

/*------------------------------
	ANCHORS
------------------------------*/

a {
	text-decoration: none; 
	color: #5af; 
	-webkit-transition: color 0.2s, border 0.2s; 
	-moz-transition: color 0.2s, border 0.2s; 
	-ms-transition: color 0.2s, border 0.2s; 
	-o-transition: color 0.2s, border 0.2s; 
	transition: color 0.2s, border 0.2s;
}

a:hover, a:focus {
	text-decoration: underline;
}

/*------------------------------
	HEADERS
------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 
{color: #7E827A; margin: 1em 0 0;}
h1, .h1 {line-height: 2em; font-size: 2em; margin-bottom: 0.2em;}
h2, .h2 {line-height: 1.8em; font-size: 1.8em;}
h3, .h3 {line-height: 1.6em; font-size: 1.6em;}
h4, .h4 {line-height: 1.4em; font-size: 1.4em;}
h5, .h5 {line-height: 1.2em; font-size: 1.2em;}
h6, .h6 {line-height: 1em; font-size: 1em;}

/*------------------------------
	MODALS
------------------------------*/

.modal {
	position: fixed; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	height: 0;
	background: rgba(255, 255, 255, 0.8); 
	opacity: 0;
	text-align: center;
	-webkit-transition:all0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 20;
}

.modal:target,
.modal.active {
	height: 100%;
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.modal__window {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	max-width: 90%;
	max-height: 90%;
	margin: auto;
	padding: 1em;
	background: #fff;
	border: #555;
	box-shadow: 0 0 10px #333;
	/*overflow: auto;*/
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.modal:target .modal__window,
.modal.active .modal__window {
	display: inline-block;
}

.modal__close {
	display: block;
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	width: 1em;
	height: 1em;
	font-size: 2em;
	line-height: 1em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.2s;
}
.modal__close:hover,
.modal__close:focus {
	text-decoration: none;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

/*------------------------------
	TOOLTIPS
------------------------------*/
.has-tooltip {
	position: relative;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.has-tooltip[data-tooltip]:before {
	position: absolute;
	display: inline-block;
	bottom: 150%;
	left: 0;
	min-width: 48%;
	height: 0;
	padding: 0;
	line-height: 1.3em;
	color: #eee;
	background: #333;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0 0.1em 0.2em #333;
	border-radius: 0.2em;
	content: attr(data-tooltip);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
}

.has-tooltip[data-tooltip]:after {
	position: absolute;
	bottom: 65%;
	left: 10%;
	border-color: transparent;
	border-style: solid;
	border-top-color: #333;
	border-width: 0;
	content: "";
}

.has-tooltip[data-tooltip]:hover:before {
	overflow: visible;
	height: auto;
	padding: 0.5em 1%;
	z-index: 1;
}

.has-tooltip[data-tooltip]:hover:after {
	border-width: 0.5em
}

/*------------------------------
	FORMS
------------------------------*/

.input, .select, .textarea {
	display: inline-block;
	height: auto; 
	padding: 0.5em;
	border: none; 
	border-bottom: 1px solid #aaa;
	margin: 0.5em 0; 
	color: #aaa;
	background: transparent;
	font-family: Helvetica, Verdana;
	box-sizing: border-box;
	outline: none;
	vertical-align: middle;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.textarea {
	min-height: 5em;
	resize: none;
	vertical-align: middle;
}

.input[type="checkbox"] {
	display: inline;
	vertical-align: middle;
}

.input[type="radio"] {
	display: inline;
	vertical-align: middle;
	margin: 0.5em 0;
}

.input[type="range"] {
	vertical-align: middle;
	border: none;
	padding: 0.5em 0;
	height: 1em;
	
}
.input[type="range"]:hover {
	margin-bottom: 0.5em;
	box-shadow: none;
	border: none;
}

.input[type="radio"]:hover, .input[type="checkbox"]:hover {
	box-shadow: none;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.input:hover, .textarea:hover {
	box-shadow: 0 0 3px #aaa;
	border-bottom: 1px solid transparent;
}

.input:focus, .select:focus, .button:focus, .textarea:focus {
	/*color: #555;*/
	/*outline: 1px solid #ccc;*/
	border-color: #5af;
	/*margin-bottom: 0.6em;*/
}

.input:disabled, .button:disabled, .textarea:disabled {
	background: #eee;
	color: #aaa;
	-webkit-transition: none;
}

.select {
	outline: none; 
	min-height: 30px; 
	padding: 5px 1%; 
	margin: 5px 0; 
	border: 1px solid #ddd;
}

.button {
	display: inline-block;
	min-width: 2em;
	min-height: 1em;
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
	border: none;
	box-sizing: border-box;
	background: #eee;
	text-align: center;
	line-height: 1em;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a.button:hover,
a.button:focus {
	text-decoration: none !important;
}

.button > .button {
	margin-left: 0;
}

.button:hover {
	opacity: 0.8;
	box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}

.button:active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
.button:focus {
	box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}

.label {
	width: auto;
	min-width: 5em;
	display: inline-block;
	margin: 1em 1%;
	text-align: right; 
	line-height: 1.2em;
}

/*------------------------------
	TABLES
------------------------------*/

table {
	display: table; 
	width: 100%;
}
tr:nth-child(2n+1) {
	background: #f5f5f5;
}
thead tr:nth-child(n) {
	background: transparent;
}
th, td {
	padding: 10px;
	vertical-align: middle;
}
th {
	font-weight: bold;
}

/*------------------------------
	INFOBAR
------------------------------*/

/* messages */
/*.notifier {
	position: fixed;
	bottom: -100%;
	left: 2em;
	width: 20em;
	max-width: 80vw;
	animation: msgHide 5s;
	box-sizing: border-box;
	transition: max-height 1s;
	z-index: 1;
}

.notifier:hover {
	animation-play-state: paused;
	max-height: 100vh;
}

.notifier__message {
	position: relative;
	width: 100%;
	min-width: 10em;
	margin: 0.5em 0;
	padding: 0.5em;
	text-align: center;
	background: #333;
	color: #eee;
	border-radius: 0.3em;
	box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.33);
	box-sizing: border-box;
}*/

.notifier {
	position: fixed;
	bottom: auto;
	top: 100%;
	margin: -3.5em 0 0 0.5em;
	transition: all 0.5s;
}

.notifier__line {
	position: relative;
	margin: 0.5em;
}

.notifier__message {
	background: #333;
	color: #eee;
	padding: 0.5em;
	display: inline-block;
	border-radius: 0.3em;
	box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.3);
}

.notifier:hover {
	top: auto;
	bottom: 0;
}

/*------------------------------
	BLOCKS & LISTS
------------------------------*/

.row {width: 100%; height: auto; margin: 0; padding: 0; display: block; box-sizing: border-box;}
.row:after {display: block; content: ""; clear: both;}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
{position: relative; float: left; padding: 0.5em 1em; margin: 0; display: inline-block; text-indent: 0; box-sizing: border-box;}

.size-xs-1, .size-xs-2, .size-xs-3, .size-xs-4, .size-xs-5, .size-xs-6, .size-xs-7, .size-xs-8, .size-xs-9, .size-xs-10, .size-xs-11, .size-xs-12,
.size-sm-1, .size-sm-2, .size-sm-3, .size-sm-4, .size-sm-5, .size-sm-6, .size-sm-7, .size-sm-8, .size-sm-9, .size-sm-10, .size-sm-11, .size-sm-12,
.size-md-1, .size-md-2, .size-md-3, .size-md-4, .size-md-5, .size-md-6, .size-md-7, .size-md-8, .size-md-9, .size-md-10, .size-md-11, .size-md-12,
.size-lg-1, .size-lg-2, .size-lg-3, .size-lg-4, .size-lg-5, .size-lg-6, .size-lg-7, .size-lg-8, .size-lg-9, .size-lg-10, .size-lg-11, .size-lg-12,
.size-xl-1, .size-xl-2, .size-xl-3, .size-xl-4, .size-xl-5, .size-xl-6, .size-xl-7, .size-xl-8, .size-xl-9, .size-xl-10, .size-xl-11, .size-xl-12
{position: relative; float: left; box-sizing: border-box;}

.col-xs-1, .size-xs-1 {width: 8.333%;}
.col-xs-2, .size-xs-2 {width: 16.666%;}
.col-xs-3, .size-xs-3 {width: 24.999%;}
.col-xs-4, .size-xs-4 {width: 33.332%;}
.col-xs-5, .size-xs-5 {width: 41.665%;}
.col-xs-6, .size-xs-6 {width: 49.998%;}
.col-xs-7, .size-xs-7 {width: 58.331%;}
.col-xs-8, .size-xs-8 {width: 66.664%;}
.col-xs-9, .size-xs-9 {width: 74.997%;}
.col-xs-10, .size-xs-10 {width: 83.330%;}
.col-xs-11, .size-xs-11 {width: 91.663%;}
.col-xs-12, .size-xs-12 {width: 99.996%;}

.offset-xs-1 {margin-left: 8.333%;}
.offset-xs-2 {margin-left: 16.666%;}
.offset-xs-3 {margin-left: 24.999%;}
.offset-xs-4 {margin-left: 33.332%;}
.offset-xs-5 {margin-left: 41.665%;}
.offset-xs-6 {margin-left: 49.998%;}
.offset-xs-7 {margin-left: 58.331%;}
.offset-xs-8 {margin-left: 66.664%;}
.offset-xs-9 {margin-left: 74.997%;}
.offset-xs-10 {margin-left: 83.330%;}
.offset-xs-11 {margin-left: 91.663%;}
.offset-xs-12 {margin-left: 99.996%;}

.bordered {padding: 0; border: 1px solid #333;}
.fl {float: left;}
.fr {float: right;}
.center {margin-left: auto; margin-right: auto; display: block; float: none; padding-left: 0; padding-right: 0;}
.center:after {display: block; content: ""; clear: both;}

.clear {clear: both;}

dl {display: block;}
dt {font-weight: bold;}
dd {}
dl:after {display: block; content: ""; clear: both;}

ol, ul {
	list-style: initial;
}
ol {
	list-style: decimal;
}
ul {
	list-style-type: square;
	color: inherit;
}

li {
	margin-left: 1.5em;
}

/*------------------------------
	COLORS
------------------------------*/

.c--red, a.c--red {color: #900 !important;}
.c--blue, a.c--blue {color: #5af !important;}
.c--grey, a.c--grey {color: #777 !important;}
.c--green, a.c--green {color: #3a3 !important;}
.c--orange, a.c--orange {color: #d95 !important;}

.c--red:hover, a.c--red:hover {color: #800 !important;}
.c--blue:hover, a.c--blue:hover {color: #49d !important;}
.c--grey:hover, a.c--grey:hover {color: #666 !important;}
.c--green:hover, a.c--green:hover {color: #2b2 !important;}
.c--orange:hover, a.c--orange:hover {color: #c84 !important;}

.b--red, a.b--red {background-color: #900 !important; color: #eee;}
.b--blue, a.b--blue {background-color: #5af !important; color: #eee;}
.b--grey, a.b--grey {background-color: #777 !important; color: #ddd;}
.b--green, a.b--green {background-color: #3a3 !important; color: #eee;}
.b--orange, a.b--orange {background-color: #d95 !important; color: #eee;}
.b--none, a.b--none {background-color: transparent;}

/*------------------------------
	TEXTS
------------------------------*/

.tal {text-align: left !important;}
.tar {text-align: right !important;}
.tac {text-align: center !important; text-indent: 0;}
.taj {text-align: justify !important;}

hr {border: none; border-bottom: 1px solid #d7d7d7;}

strong, .text--b {font-weight: bold;}
em, .text--i {font-style: italic;}
p {margin-bottom: 0.5em; text-indent: 0; float: none; width: 100%;}

p img {
	width: auto;
	max-width: 100%;
}

pre {
	border: 1px solid red;
	color: #777;
	font-family: Courier;
	overflow: auto;
}

sup, sub {font-size: 0.5em; line-height: 100%; vertical-align: top;}
sub {vertical-align: bottom;}

blockquote {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
	color: #999;
	overflow: hidden;
	background: rgba(200, 200, 200, 0.2);
	text-shadow: 0.1em 0.1em 0.1em #fff;
}

blockquote:before {
	position: absolute;
	top: 0.2em;
	left: 0em;
	font-size: 20em;
	font-family: serif;
	opacity: 0.2;
	content: "”";
}

.invisible {
	opacity: 0;
	visibility: hidden;
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

.only-xs, .only-sm, .only-md, .only-lg, .only-xl {
	visibility: hidden;
	display: none;
}

.except-xs, .except-sm, .except-md, .except-lg, .except-xl {
	visibility: initial;
	display: initial;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
	.except-xs {visibility: hidden; display: none;}
	.only-xs {visibility: inherit; display: inherit;}
}

@media screen and (min-width: 481px) {
	.col-sm-1, .size-sm-1 {width: 8.333%;}
	.col-sm-2, .size-sm-2 {width: 16.666%;}
	.col-sm-3, .size-sm-3 {width: 24.999%;}
	.col-sm-4, .size-sm-4 {width: 33.332%;}
	.col-sm-5, .size-sm-5 {width: 41.665%;}
	.col-sm-6, .size-sm-6 {width: 49.998%;}
	.col-sm-7, .size-sm-7 {width: 58.331%;}
	.col-sm-8, .size-sm-8 {width: 66.664%;}
	.col-sm-9, .size-sm-9 {width: 74.997%;}
	.col-sm-10, .size-sm-10 {width: 83.330%;}
	.col-sm-11, .size-sm-11 {width: 91.663%;}
	.col-sm-12, .size-sm-12 {width: 99.996%;}

	.offset-sm-1 {margin-left: 8.333%;}
	.offset-sm-2 {margin-left: 16.666%;}
	.offset-sm-3 {margin-left: 24.999%;}
	.offset-sm-4 {margin-left: 33.332%;}
	.offset-sm-5 {margin-left: 41.665%;}
	.offset-sm-6 {margin-left: 49.998%;}
	.offset-sm-7 {margin-left: 58.331%;}
	.offset-sm-8 {margin-left: 66.664%;}
	.offset-sm-9 {margin-left: 74.997%;}
	.offset-sm-10 {margin-left: 83.330%;}
	.offset-sm-11 {margin-left: 91.663%;}
	.offset-sm-12 {margin-left: 99.996%;}

	.only-xs, .except-sm {visibility: hidden; display: none;}
	.only-sm, .except.xs {visibility: inherit; display: inherit;}
}

@media screen and (min-width: 801px) {
	.col-md-1, .size-md-1 {width: 8.333%;}
	.col-md-2, .size-md-2 {width: 16.666%;}
	.col-md-3, .size-md-3 {width: 24.999%;}
	.col-md-4, .size-md-4 {width: 33.332%;}
	.col-md-5, .size-md-5 {width: 41.665%;}
	.col-md-6, .size-md-6 {width: 49.998%;}
	.col-md-7, .size-md-7 {width: 58.331%;}
	.col-md-8, .size-md-8 {width: 66.664%;}
	.col-md-9, .size-md-9 {width: 74.997%;}
	.col-md-10, .size-md-10 {width: 83.330%;}
	.col-md-11, .size-md-11 {width: 91.663%;}
	.col-md-12, .size-md-12 {width: 99.996%;}

	.offset-md-1 {margin-left: 8.333%;}
	.offset-md-2 {margin-left: 16.666%;}
	.offset-md-3 {margin-left: 24.999%;}
	.offset-md-4 {margin-left: 33.332%;}
	.offset-md-5 {margin-left: 41.665%;}
	.offset-md-6 {margin-left: 49.998%;}
	.offset-md-7 {margin-left: 58.331%;}
	.offset-md-8 {margin-left: 66.664%;}
	.offset-md-9 {margin-left: 74.997%;}
	.offset-md-10 {margin-left: 83.330%;}
	.offset-md-11 {margin-left: 91.663%;}
	.offset-md-12 {margin-left: 99.996%;}

	.only-sm, .except-md {visibility: hidden; display: none;}
	.only-md, .except-sm {visibility: inherit; display: inherit;}
}

@media screen and (min-width: 1201px) {
	.col-lg-1, .size-lg-1 {width: 8.333%;}
	.col-lg-2, .size-lg-2 {width: 16.666%;}
	.col-lg-3, .size-lg-3 {width: 24.999%;}
	.col-lg-4, .size-lg-4 {width: 33.332%;}
	.col-lg-5, .size-lg-5 {width: 41.665%;}
	.col-lg-6, .size-lg-6 {width: 49.998%;}
	.col-lg-7, .size-lg-7 {width: 58.331%;}
	.col-lg-8, .size-lg-8 {width: 66.664%;}
	.col-lg-9, .size-lg-9 {width: 74.997%;}
	.col-lg-10, .size-lg-10 {width: 83.330%;}
	.col-lg-11, .size-lg-11 {width: 91.663%;}
	.col-lg-12, .size-lg-12 {width: 99.996%;}

	.offset-lg-1 {margin-left: 8.333%;}
	.offset-lg-2 {margin-left: 16.666%;}
	.offset-lg-3 {margin-left: 24.999%;}
	.offset-lg-4 {margin-left: 33.332%;}
	.offset-lg-5 {margin-left: 41.665%;}
	.offset-lg-6 {margin-left: 49.998%;}
	.offset-lg-7 {margin-left: 58.331%;}
	.offset-lg-8 {margin-left: 66.664%;}
	.offset-lg-9 {margin-left: 74.997%;}
	.offset-lg-10 {margin-left: 83.330%;}
	.offset-lg-11 {margin-left: 91.663%;}
	.offset-lg-12 {margin-left: 99.996%;}

	.only-md, .except-lg {visibility: hidden; display: none;}
	.only-lg, .except-md {visibility: inherit; display: inherit;}
}

@media screen and (min-width: 1601px) {
	.col-xl-1, .size-xl-1 {width: 8.333%;}
	.col-xl-2, .size-xl-2 {width: 16.666%;}
	.col-xl-3, .size-xl-3 {width: 24.999%;}
	.col-xl-4, .size-xl-4 {width: 33.332%;}
	.col-xl-5, .size-xl-5 {width: 41.665%;}
	.col-xl-6, .size-xl-6 {width: 49.998%;}
	.col-xl-7, .size-xl-7 {width: 58.331%;}
	.col-xl-8, .size-xl-8 {width: 66.664%;}
	.col-xl-9, .size-xl-9 {width: 74.997%;}
	.col-xl-10, .size-xl-10 {width: 83.330%;}
	.col-xl-11, .size-xl-11 {width: 91.663%;}
	.col-xl-12, .size-xl-12 {width: 99.996%;}

	.offset-xl-1 {margin-left: 8.333%;}
	.offset-xl-2 {margin-left: 16.666%;}
	.offset-xl-3 {margin-left: 24.999%;}
	.offset-xl-4 {margin-left: 33.332%;}
	.offset-xl-5 {margin-left: 41.665%;}
	.offset-xl-6 {margin-left: 49.998%;}
	.offset-xl-7 {margin-left: 58.331%;}
	.offset-xl-8 {margin-left: 66.664%;}
	.offset-xl-9 {margin-left: 74.997%;}
	.offset-xl-10 {margin-left: 83.330%;}
	.offset-xl-11 {margin-left: 91.663%;}
	.offset-xl-12 {margin-left: 99.996%;}

	.only-lg, .except-xl {visibility: hidden; display: none;}
	.only-xl, .except-lg {visibility: inherit; display: inherit;}
}