<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 center">
		<h1>Dory Authorized area</h1>
		<p>Welcome, <?= $user['name']; ?></p>
		<p>You signed in at <span class="c--orange"><?= date('Y-m-d H:i:s', $user['timestamp']); ?></span>.</p>
		<p>You can now <a href="/authorized/sign-out" class="button c--red">sign out</a>.</p>
	</div>
</div>