<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 center">
		<h1>Clair CSS</h1>
		<p>Hello. This is a brief presentation of capabilities of Clair CSS - a set of classes to style the HTML pages.</p>
		<p>Clair is quite simple CSS preset of classes that provides support for responsiveness and fixes some minor tweaks.</p>

		<section>
			<h2>Column layout</h2>

			<h3>Standard 12-cell grid layout</h3>
			<div class="row tac">
				<div class="col-xs-12 bordered">col-xs-12</div>
				<div class="col-xs-11 bordered">col-xs-11</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-10 bordered">col-xs-10</div><div class="col-xs-2 bordered">col-xs-2</div>
				<div class="col-xs-9 bordered">col-xs-9</div><div class="col-xs-3 bordered">col-xs-3</div>
				<div class="col-xs-8 bordered">col-xs-8</div><div class="col-xs-4 bordered">col-xs-4</div>
				<div class="col-xs-7 bordered">col-xs-7</div><div class="col-xs-5 bordered">col-xs-5</div>
				<div class="col-xs-6 bordered">col-xs-6</div><div class="col-xs-6 bordered">col-xs-6</div>
			</div>
			
			<h3>Cell combinations</h3>
			<div class="row tac">
				<div class="col-xs-12 bordered">col-xs-12</div>
				<div class="col-xs-6 bordered">col-xs-6</div><div class="col-xs-6 bordered">col-xs-6</div>
				<div class="col-xs-4 bordered">col-xs-4</div><div class="col-xs-4 bordered">col-xs-4</div><div class="col-xs-4 bordered">col-xs-4</div>
				<div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div>
				<div class="col-xs-2 bordered">col-xs-2</div><div class="col-xs-2 bordered">col-xs-2</div><div class="col-xs-2 bordered">col-xs-2</div><div class="col-xs-2 bordered">col-xs-2</div><div class="col-xs-2 bordered">col-xs-2</div><div class="col-xs-2 bordered">col-xs-2</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
				<div class="col-xs-1 bordered">col-xs-1</div><div class="col-xs-1 bordered">col-xs-1</div>
			</div>
			
			<h3>Support of cell offsets</h3>
			<div class="row tac">
				<div class="col-xs-5 bordered">col-xs-5</div>
				<div class="col-xs-6 offset-xs-1 bordered">col-xs-6 + offset-xs-1</div>
				
				<div class="col-xs-4 bordered">col-xs-4</div><div class="col-xs-4 offset-xs-4 bordered">col-xs-4 + offset-xs-4</div>
				<div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div><div class="col-xs-3 bordered">col-xs-3</div>
				
				<div class="col-xs-2 offset-xs-3 bordered">col-xs-2 + offset-xs-3</div>
				<div class="col-xs-2 offset-xs-1 bordered">col-xs-2 + offset-xs-1</div>
				<div class="col-xs-4 bordered">col-xs-4</div>
			</div>

			<div class="row tac">
				<div class="col-xs-12 col-md-6">
					<h3>Conditional visibility</h3>
					<div class="row">
						<div class="col-xs-12 bordered">visible always</div>
						<div class="col-xs-12 bordered only-xs">visible only in XS size</div>
						<div class="col-xs-12 bordered only-sm only-md">visible only in SM and MD sizes</div>
						<div class="col-xs-12 bordered except-xs except-md">visible except XS and MD sizes</div>
						<div class="col-xs-12 bordered">visible always</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6">
					<h3>Conditional visibility on inline elements</h3>
					<div class="row">
						<p>Lorem ipsum VISIBLE ALWAYS.</p>
						<p class="only-sm">Lorem ipsum VISIBLE ONLY IN SM.</p>
						<p class="except-md">Lorem ipsum VISIBLE EXCEPT MD.</p>
						<p class="only-xs only-lg">Lorem ipsum VISIBLE ONLY IN XS and LG.</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2>Form input layouts</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<form>
						<div>
							<label for="f_1" class="label">text input</label>
							<input type="text" id="f_1" class="input" />
						</div>
						<div>
							<label for="f_2" class="label">number input</label>
							<input type="number" id="f_2" class="input" />
						</div>
						<div>
							<label for="f_3" class="label">password input</label>
							<input type="password" id="f_3" class="input" />
						</div>
						<div>
							<label class="label"><input type="checkbox" class="input" /> checkbox 1</label>
							<label class="label"><input type="checkbox" class="input" /> checkbox 2</label>
						</div>
						<div>
							<label class="label"><input type="radio" name="r1" class="input" /> radio 1</label>
							<label class="label"><input type="radio" name="r1" class="input" /> radio 2</label>
						</div>
						<div>
							<input type="range" min="1" max="5" value="3" class="input" />
						</div>
						<div>
							<label for="f_4">textarea</label>
							<textarea class="textarea" id="f_4"></textarea>
						</div>

						<div>
							<label for="f_5">select</label>
							<select class="select" id="f_5">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>

						<div>
							<label for="f_6">select</label>
							<select class="select" id="f_6">
								<optgroup label="group">
									<option>1</option>
									<option>2</option>
								</optgroup>
								<option>3</option>
								<option>4</option>
							</select>
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h3>Buttons</h3>
					<div>
						<button type="button" class="button">button</button>
						<button type="button" class="button c--green">button</button>
						<button type="button" class="button c--red">button</button>
						<button type="button" class="button c--blue">button</button>
						<button type="button" class="button c--orange">button</button>
						<button type="button" class="button c--grey">button</button>
					</div>
					<div>
						<button type="button" class="button">button</button>
						<button type="button" class="button b--green">button</button>
						<button type="button" class="button b--red">button</button>
						<button type="button" class="button b--blue">button</button>
						<button type="button" class="button b--orange">button</button>
						<button type="button" class="button b--grey">button</button>
					</div>

					<div>
						<button type="button" class="button">button</button>
						<button type="button" class="button c--red b--green">button</button>
						<button type="button" class="button c--orange b--red">button</button>
						<button type="button" class="button c--grey b--blue">button</button>
						<button type="button" class="button c--blue b--orange">button</button>
						<button type="button" class="button c--red b--grey">button</button>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2>Table</h2>
			<table>
				<thead>
					<tr>
						<th>header 1</th>
						<th>header 2</th>
						<th colspan="2">header 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>cell 1</td>
						<td>cell 2</td>
						<td colspan="2">cell 3</td>
					</tr>
					<tr>
						<td>cell 1</td>
						<td>cell 2</td>
						<td colspan="2">cell 3</td>
					</tr>
					<tr>
						<td>cell 1</td>
						<td>cell 2</td>
						<td colspan="2">cell 3</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section>
			<h2>Lists</h2>
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<h3>Data list</h3>
					<dl>
						<dt>data header</dt>
						<dd>data data 1</dd>
						<dd>data data 2</dd>
					</dl>
				</div>
				<div class="col-xs-6 col-sm-4">
					<h3>Unordered list</h3>
					<ul>
						<li>list item 1</li>
						<li>list item 2</li>
						<li>list item 3</li>
						<li>list item 4</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h3>Ordered list</h3>
					<ol>
						<li>list item 1</li>
						<li>list item 2</li>
						<li>list item 3</li>
						<li>list item 4</li>
					</ol>
				</div>
			</div>
		</section>

		<section>
			<h2>Typography</h2>

			<div>
			<h3>Headers</h3>
				<span class="h1">Header 1</span>
				<span class="h2">Header 2</span>
				<span class="h3">Header 3</span>
				<span class="h4">Header 4</span>
				<span class="h5">Header 5</span>
				<span class="h6">Header 6</span>
			</div>
			
			<div>
				<h3>Text styles</h3>
				<p>This is paragraph with some <strong>bold text</strong>. Then there is part <em>of the text </em>that is emphasized.</p>
				<p>You can also change <span class="c--orange">color</span> or <span class="b--orange">background of the text</span> with predefined color classes:</p>
				<ul>
					<li><span class="c--green">c--green</span> and <span class="b--green">b--green</span></li>
					<li><span class="c--red">c--red</span> and <span class="b--red">b--red</span></li>
					<li><span class="c--orange">c--orange</span> and <span class="b--orange">b--orange</span></li>
					<li><span class="c--blue">c--blue</span> and <span class="b--blue">b--blue</span></li>
					<li><span class="c--grey">c--grey</span> and <span class="b--grey">b--grey</span></li>
				</ul>
			</div>
		</section>

		<section>
			<h2>Modals and tooltips</h2>
			<p> You can open a modal window with anchored link, just like <a href="#my-modal">this one</a>. You can also use <span class="has-tooltip" data-tooltip="... to show some additional information.">tooltip class...</span></p>
			<blockquote>This is a blockquote.</blockquote>
		</section>
	</div>
</div>

<div class="modal" id="my-modal">
	<div class="modal__window size-xs-8 size-sm-6 size-md-4">
		<a href="#" class="modal-window__close c--red">&times;</a>
		<h3>You just opened a modal window</h3>
		<p>Congratulations. You can put here anything, it's just a regular html content.</p>
		<p>Also you can close it with either 'x' button in the corner, or 'close' button down here.</p>
		<a href="#" class="button c--red">Close</a>
	</div>
</div>