<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 center">
		<h1>Dory Authorization</h1>

		<form class="form" action="/authorized" method="post">
			<div>
				<label for="f_name" class="label">Username: </label>
				<input type="text" name="name" class="input" />
			</div>

			<div>
				<label for="f_pass" class="label">Password: </label>
				<input type="text" name="pass" class="input" />
			</div>

			<div>
				<button type="submit" name="sign-in" class="button b--blue">Sign in</button>
			</div>
		</form>
	</div>
</div>