<div class="notifier">
	<?php if (count($messages)): ?>
		<div class="notifier__line"><span class="notifier__message">?</span></div>
	<?php endif; ?>

	<?php foreach ($messages as $msg): ?>
		<div class="notifier__line"><span class="notifier__message <?= $msg['css_class']; ?>"><?= $msg['message']; ?></span></div>
	<?php endforeach; ?>
</div>